a{
    text-decoration: magenta;
    color: rgb(7, 91, 102);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
}
a:hover{
    color:darkmagenta;
}
ul,li{
    list-style: decimal;
    display: inline-flex;
}